
/* ------------------
    General setting
--------------------*/

* {
	margin: 0;
}

html {
  	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 16px;
    	line-height: 24px;
    	margin: 0 auto;
    	color: #000000;
    	background-color: #f5f5f5;
  	padding-bottom: 6rem;
  	font-family: "Helvetica Neue", Arial, sans-serif;
}

html, body {
	min-height: 100%;
}

/* -----------------
   Wrapper Class
-------------------*/

.header-wrap {
}

.page-wrap {
	min-height: 100%;
	margin-bottom:-150px;
}

.page-wrap:before {
}

.page-wrap:after {
	content:"";
	display:block;
}

.footer-wrap {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
}

.footer-wrap, .page-wrap:after {
	height:150px;
}
